<% if(!standard){ %>
<div tabindex="0" class="gnd-dropdown <% if(classname) { %> <%=classname%> <% } %>">
    <div class="gnd-dropdown-selected" style="height: 100%;">
        <div class="gnd-dropdown-selected-wrapper">
            <span class="gnd-dropdown-selected-name" 
             data-bind="text: combobox.selectedName | escape"></span>
        </div>
        <div class="gnd-select-sqr"><i class="icon-triangle-s"></i></div>
    </div>
    <ul class="gnd-dropdown-optionlist">
        <li class="gnd-dropdown-option" 
            data-event="click: combobox.selectHandler" 
            data-each="collection: item" 
            data-class="gnd-dropdown-item-disabled: item.disabled; gnd-dropdown-item-selected:item.isSelected" 
            data-bind="value: item.id text: item.name | escape"></li>
    </ul>
</div>
<% } else { %>
  <select 
    class="designed-select btn-grey" 
    data-bind="value: combobox.selectedId">
    <option 
      data-each='collection: item' 
      data-bind='value: item.itemId, text: item.name'>
    </option>
  </select>
<% } %>
